@page "{id:int}"
@model MedicalExpertSystem.Pages.MedicalDataSets.UserMedicalData.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MedicalData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientToUpdate.AppUser.DecryptedUser.LastName" class="control-label"></label>
                <input asp-for="PatientToUpdate.AppUser.DecryptedUser.LastName" class="form-control" disabled />
                <span asp-validation-for="PatientToUpdate.AppUser.DecryptedUser.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientToUpdate.AppUser.DecryptedUser.FirstName" class="control-label"></label>
                <input asp-for="PatientToUpdate.AppUser.DecryptedUser.FirstName" class="form-control" disabled />
                <span asp-validation-for="PatientToUpdate.AppUser.DecryptedUser.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalData.Pregnancies" class="control-label"></label>
                <input asp-for="MedicalData.Pregnancies" class="form-control" />
                <span asp-validation-for="MedicalData.Pregnancies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalData.Glucose" class="control-label"></label>
                <input asp-for="MedicalData.Glucose" class="form-control" />
                <span asp-validation-for="MedicalData.Glucose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalData.BloodPressure" class="control-label"></label>
                <input asp-for="MedicalData.BloodPressure" class="form-control" />
                <span asp-validation-for="MedicalData.BloodPressure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalData.SkinThickness" class="control-label"></label>
                <input asp-for="MedicalData.SkinThickness" class="form-control" />
                <span asp-validation-for="MedicalData.SkinThickness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalData.Insuline" class="control-label"></label>
                <input asp-for="MedicalData.Insuline" class="form-control" />
                <span asp-validation-for="MedicalData.Insuline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalData.Bmi" class="control-label"></label>
                <input asp-for="MedicalData.Bmi" class="form-control" />
                <span asp-validation-for="MedicalData.Bmi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalData.DiabetesPedigreeFunction" class="control-label"></label>
                <input asp-for="MedicalData.DiabetesPedigreeFunction" class="form-control" />
                <span asp-validation-for="MedicalData.DiabetesPedigreeFunction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@*@if (Model.MedicalData.Patient.MedicalDataSet != null)
{
    <div>
        <a asp-page="./Index" asp-route-id="@Model.MedicalData.Patient.AppUser.Id">Back to List</a>
    </div>
}*@


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}